* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  border: 2px solid black;
  background-color: #DCDCDC;
}

.ocultar {
  display: none;
}

#jogo {
  background-color: black;
}

button.css3button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position:absolute;
  left: 550px;
  top: 280px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient( top, #666565 0%, #995757);
  background: -webkit-gradient(linear, left top, left bottom, from(#666565), to(#995757));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #050505;
  -moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
  -webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
  box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
  text-shadow:
	0px -1px 0px rgba(000,000,000,0.4),
	0px 1px 0px rgba(255,255,255,0.3);
}

button.css3Avancar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 600px;
  left: 1100px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(top, #666565 0%,	#995757);
  background: -webkit-gradient(linear, left top, left bottom, from(#666565), to(#995757));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #050505;
  -moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
  -webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
  box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
  text-shadow:
	0px -1px 0px rgba(000,000,000,0.4),
	0px 1px 0px rgba(255,255,255,0.3);
}

/*.center {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}*/
